.popup-window-2 {
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.68);
  position: fixed;
  z-index: 3000;
}

.popup-window-2__form {
  width: 350px;
  height: 453px;
  background: white;
  position: fixed;
  top: 155px;
  left: 50.7%;
  transform: translateX(-50%);
}

.popup-window-2__form__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 50px 43px;
  display: flex;
  flex-direction: column;
}

.popup-window-2__form__wrapper > h2:nth-of-type(1) {
  font: 24px / 26px "Montserrat";
}

.popup-window-2__input-wrapper > input {
  height: 50px;
  margin-top: 10px;
  padding-left: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(238, 238, 238);
  font: 17px / 23px "Montserrat";
}

.popup-window-2__input-wrapper {
  position: relative;
}

.popup-window-2__input-wrapper_1 {
  margin-top: 2px;
}

.popup-window__input-wrapper_2 {
  margin-top: 5px;
}

.popup-window-2__input-wrapper_1::before  {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  right: -7px;
  width: 50px;
  height: 50px;
  z-index: 1;
  background: url(../../../images/main-page/user.png) center center / auto auto no-repeat;
}

.popup-window-2__input-wrapper_2::before {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  right: -7px;
  width: 50px;
  height: 50px;
  z-index: 1;
  background: url(../../../images/main-page/phone-call.png) center center / auto auto no-repeat;
}

.popup-window-2__form__wrapper > button:nth-of-type(1) {
  width: 249px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 6px;
  padding: 20px 28px;
  border: none;
  font: 15px / 20px "Montserrat Bold";
  background: rgb(72,141,198);
  background: linear-gradient(90deg, rgba(72,141,198,1) 0%, rgba(110,80,170,1) 100%);
  color: white;
  cursor: pointer;
}

.popup-window-2__form__wrapper > button:nth-of-type(1):hover {
  box-shadow: 0px 0px 20px 0px rgba(90, 112, 185, 0.5);
}

.popup-window-2__form__tick {
  width: 25px;
  height: 25px;
  flex: 0 0 25px;
  margin-top: 19px;
  margin-left: 5px;
  background: url(../../../images/main-page/checkbox.png) center center / auto auto no-repeat;
  cursor: pointer;
}

.popup-window-2__form__wrapper > label:nth-of-type(1) {
  display: flex;
}

#popup-window-2__form__radio-input {
  display: none;
}

.popup-window-2__form__wrapper > label:nth-of-type(1) > p {
  margin-top: 16px;
  margin-left: 20px;
  font: 13px / 16px "Montserrat";
  align-self: flex-start;
  cursor: pointer;
}

.popup-window-2__form__cross {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 24px;
  right: 27px;
  background: url(../../../images/main-page/cross.png) center center / auto auto no-repeat;
  cursor: pointer;
}

.popup-window-2__form__wrapper > h2:nth-child(2) > span:nth-child(2) {
  font-family: "Montserrat Bold";
}
